<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="quote question">
    <%= @question %><br>
    -- You
  </p>
  <p class="quote answer">
    <%= @answer %><br>
    -- Your coach
  </p>
  <br>
  <a href="/ask">Ask a new question</a>
</div>